* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 2%;
  height: 100vh;
  padding: 2%;
}
.info-box {
  display: flex;
  flex-direction: column;
  width: 45%;
  user-select: none;
}
.info-box > * {
  width: 100%;
  text-align: center;
}
.info-box > .title {
  font-size: 40pt;
  font-weight: 900;
  margin-bottom: 2%;
}
#parrotsNum,
#birdsNum {
  font-size: 15pt;
  font-weight: 700;
}
.bird-box {
  flex-basis: 35%;
  flex-grow: 1;
  min-height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 50px;
  border-radius: 10px;
  background-color: cadetblue;
}
.bird-box .title {
  flex: 1;
  flex-basis: 100%;
  text-align: center;
}
.bird {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  cursor: pointer;
}
.bird img {
  width: 100%;
}
