* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#slider-container {
  width: 80vw;
  overflow: hidden;
  position: relative;
}

#slider {
  display: flex;
  height: 100%;
}
#slider > img {
  width: 100%;
  height: 100%;
  /* aspect-ratio: 요소 크기의 비율 설정 */
  aspect-ratio: 1920 / 1280;
  object-fit: cover;
}
.paging {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  z-index: 10;
  top: 50%;
  transform: translateY(-50%);
  color: #eee;
  background-color: rgba(0, 0, 0, 0.5);
  border: 0;
  border-radius: 50%;
  width: 3em;
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
}
.paging:hover {
  background-color: rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.paging:active {
  outline: 0;
  transform: translateY(-50%) scale(0.9);
}
.prev {
  left: 5%;
}
.next {
  right: 5%;
}
#pointer-container {
  position: absolute;
  bottom: 3%;
  left: calc((100% - 40%) / 2);
  width: 40%;
  height: 8px;
  display: flex;
  justify-content: center;
  gap: 5px;
  touch-action: none;
}
#controller {
  /* pseudo element content 위치 조정 */
  margin-bottom: 5px;
  font-size: larger;
  color: rgba(255, 255, 255, 0.8);
  background-color: transparent;
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
#controller.playing:after {
  content: "\23F5";
}
#controller.paused:after {
  content: "\23F8";
}
.pointer {
  width: 8px;
  height: 100%;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.8);
  flex-shrink: 1;
  transition: width 0.5s ease-in-out, background-color 0.2s ease-in-out;
}
#controller:hover,
.pointer:hover {
  cursor: pointer;
}
@media (hover: hover) and (pointer: fine) {
  #slider-container:hover .paging {
    opacity: 1;
    pointer-events: auto;
  }
  .pointer:hover {
    background-color: blue;
  }
}
.pointer.active {
  background-color: red;
  width: 10%;
}
