body {
  background-color: black;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.star {
  position: absolute;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #fff, 0 0 80px #fff;
  animation: twinkle linear infinite;
  opacity: 1;
}
@keyframes twinkle {
  0% {
    opacity: 1;
  }
  10% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
