extends layout

block content
  script(src="/js/main.js")
  h2.year_name
  h1.month_name
  table.schedule
    thead
      tr
        th Sun
        th Mon
        th Tue
        th Wed
        th Thu
        th Fri
        th Sat
    tbody
      tr
        td 
        td 
        td 
        td 
        td 
        td 
        td 
      tr
        td 
        td 
        td 
        td 
        td 
        td 
        td 
      tr
        td 
        td 
        td 
        td 
        td 
        td 
        td 
      tr
        td 
        td 
        td 
        td 
        td 
        td 
        td 
      tr
        td 
        td 
        td 
        td 
        td 
        td 
        td 

